<tr id="historico" class="text-center">
    {# Pega o cliente do mapa, se existir #}
    {% set cliente = mapa_cliente.get(acesso.usuario_id) %}

    <th scope="row">
        {% if cliente %}
            {{ cliente["nome"] }}
        {% else %}
            <span class="text-muted">Não identificado</span>
        {% endif %}
    </th>

    <td>
        {% if cliente %}
            {{ cliente["documento"] }}
        {% else %}
            -
        {% endif %}
    </td>

    <td class="text-center align-middle">
        {{ acesso.local }}
    </td>

    <td class="text-center align-middle">
        {% if not acesso.liberado_ou_bloqueado %}
            <div class="fw-bold status-tabela-bloqueado text-white d-inline-block">
                Acesso Bloqueado
            </div>
        {% else %}
            {% if acesso.tipo_acesso == "Entrada" %}
                <div class="fw-bold status-tabela-ativo text-white d-inline-block">
                    Entrada
                </div>
            {% else %}
                <div class="fw-bold status-tabela-inativo text-white d-inline-block">
                    Saída
                </div>
            {% endif %}
        {% endif %}
    </td>

    <td>
        {{ acesso.data_criacao.strftime("%d/%m/%Y %H:%M:%S") }}
    </td>
</tr>